<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="commons/normal::head"></div>
    <title>爱购网 | 产品搜索</title>
    <link rel="stylesheet" th:href="@{~/css/classify.css}"/>
</head>

<body>
<!-- 隐藏内容 -->
<!--/*@thymesVar id="targetProductType" type="top.jloeve.aigou.domains.impl.ProductType"*/-->
<input type="hidden" name="type" id="ptype" th:value="${targetProductType} ? ${targetProductType.uuid} : ''">
<!--头部-->
<div th:replace="commons/normal::header"></div>
<!--导航栏-->
<div th:replace="commons/normal::nav"></div>
<!--面包屑导航栏-->
<div class="crumbSlide w1230" th:if="${targetProductType} and ${targetProductType.iconClassName}">
    <i th:class="|iconfont ${targetProductType.iconClassName} classify-icon|"></i>
    <span th:text="${targetProductType.name} ?: '多种类'"></span>
    <i class="fa fa-angle-right"></i>
</div>
<!--相关分类（品牌）-->
<div class="classify-brand w1230 clear-float">
    <div class="brand-title">品牌</div>
    <div class="brands">
        <ul class="clear-float">
            <!--/*@thymesVar id="brands" type="java.util.List<top.jloeve.aigou.domains.impl.Brand>"*/-->
            <li th:each="brand,v:${brands}">
                <input type="checkbox" class="chk" th:id="'chk'+${v.count}" th:value="${brand.uuid }"/>
                <label th:for="'chk'+${v.count}">
                    <img th:src="@{/upload/eshop/{imgName}(imgName=${brand.imageFileName})}" width="50"
                         height="50px"/><br/>
                    <span th:text="${brand.name}"></span>
                    <img th:src="@{/img/choose.PNG}" class="choose"/>
                </label>
            </li>
        </ul>
        <div class="brands-btn">
            <a href="#" class="brands-sure">确定</a>
            <a href="javascript:void(0)" class="brands-cancel" id="brands-cancel">重置</a>
        </div>
    </div>
</div>
<!--综合分类-->
<div class="search-select w1230">
    <ul>
        <li><a href="#">综合</a></li>
        <li><a href="#">销量</a></li>
        <li><a href="#">新品</a></li>
        <li>
            <a href="#">
                <span>价格</span>
                <input type="number" placeholder="￥"/> -
                <input type="number" placeholder="￥"/>
            </a>
            <a href="#" class="price-sure">确定</a>
            <a href="javascript:void(0)" class="price-cancel" id="price-cancel">清空</a>
        </li>
    </ul>
</div>
<!--商品展示-->
<div class="goods-show w1230">
    <ul class="clear-float">
        <li th:each="product:${products}">
            <a href="#">
                <div class="g-img"><a th:href="@{~/product/detail(id=${product.uuid})}">
                    <img th:src="@{~/upload/eshop/{imgName}(imgName=${product.imageFileName})}" alt=""
                         width="230px" height="230px"/></a>
                </div>
                <p class="g-title" th:text="${product.name}"></p>
                <span class="g-price" th:text="'￥'+${product.price}"></span>
                <!--                <span class="g-num" th:text="'销量:'+${product.sales }"></span>-->
            </a></li>
    </ul>
</div>
<!--脚注-->
<div th:replace="commons/normal::footer"></div>
<script th:src="@{~/plugs/jquery.js}"></script>
<script>
    var all = document.getElementById("all-goods");
    var navEr = document.getElementById("nav-er");
    all.onmouseover = function () {
        navEr.style.display = "block";
    }
    all.onmouseout = function () {
        navEr.style.display = "none";
    }

    $(function () {
        var _brand = '${brands}';
        var _brands = _brand.split(",");
        for (var _b in _brands) {
            $('.chk[value="' + _brands[_b] + '"]').prop("checked", true);
        }


        //品牌确定按钮
        $('.brands-sure').on('click', function () {
            var ids = "";
            $('.chk:checked').each(function (i, d) {
                ids = ids + $(this).val();
                if (i != $('.chk:checked').length - 1) {
                    ids = ids + ",";
                }
            })
            window.location.href = "?product-type-uuid=" + $('#ptype').val() + "&brands=" + ids;
        })

        //品牌重置按钮
        $('.brands-cancel').on('click', function () {
            $('.chk').prop("checked", false);
        })

        //搜索按钮
        $('.search-btn').on('click', function () {
            var words = $('.search-txt').val();
            window.location.href = "?product-type-uuid=" + $('#ptype').val() + "&keyword=" + words;
        })

        //热搜词
        $('.hotSearch').on('click', function () {
            $('.search-txt').val($(this).text());
            $('.search-btn').click();
        })

        //搜索框回车事件
        $('.search-txt').on('keyup', function (event) {
            if (event.keyCode == 13) {
                $('.search-btn').click();
            }
        })
    })
</script>
</body>

</html>