<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.jloeve.aigou.mappers.BrandMapper">
    <select id="queryByParams" resultMap="top.jloeve.aigou.mappers.ProductMapper.BrandResult">
        SELECT
        BIN_TO_UUID(uuid) AS product_brand_uuid,
        `name` AS product_brand_name,
        image_file_name AS product_brand_image_file_name,
        BIN_TO_UUID(type_uuid) AS product_type_uuid
        FROM s_brand
        <if test="#{productTypeUUID} != null">
            WHERE type_uuid = UUID_TO_BIN(#{productTypeUUID})
        </if>
    </select>
</mapper>