<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.jloeve.aigou.mappers.CarouselMapper">
    <select id="query" resultType="Carousel">
        SELECT
        BIN_TO_UUID(`uuid`) AS `uuid`,
        `image_file_name`,
        `sequence_num`
        AS uuid
        FROM `s_carousel` ORDER BY `sequence_num`
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>
</mapper>
