<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.jloeve.aigou.mappers.OrderProductMapper">
    <resultMap id="UserResult" type="User">
        <result column="user_id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="user_type" property="type"/>
    </resultMap>
    <resultMap id="OrderResult" type="Order">
        <result column="order_id" property="id"/>
        <result column="order_create_time" property="createTime"/>
        <result column="receivingAddress" property="receivingAddress"/>
        <association property="user" resultMap="UserResult"/>
    </resultMap>
    <resultMap id="OrderProductResult" type="OrderProduct">
        <result column="order_product_id" property="id"/>
        <result column="product_num" property="productNum"/>
        <association property="order" resultMap="OrderResult"/>
        <association property="product" resultMap="top.jloeve.aigou.mappers.ProductMapper.ProductResult"/>
    </resultMap>
    <select id="queryBySales" resultType="OrderProduct" resultMap="OrderProductResult">
        SELECT *,
        s_order_product.id AS order_product_id,
        product_brand AS product_brand_id,
        product_type AS product_type_id,
        price AS product_price,
        SUM(`product_num`) AS product_sum
        FROM aigou.s_order_product
        LEFT JOIN `s_product` ON s_product.id = s_order_product.product_id
        GROUP BY `product_id`
        ORDER BY `product_sum` DESC
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>
</mapper>