<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="head" th:remove="tag">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{~/img/title-icon.jpg}"/>
    <link rel="stylesheet" th:href="@{~/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{~/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{~/css/login.css}"/>
    <script th:src="@{~/plugs/jquery.js}"></script>
</div>

<div th:fragment="header" class="lr-top w1230">
    <a th:href="@{~/index}"><img th:src="@{~/img/logo.png}" width="150px" height="60px"/></a>
    <div class="top-link">
        <a href="javascript:void(0);" class="top-link1"></a>
        <a href="javascript:void(0);" class="top-link2"></a>
        <a href="javascript:void(0);" class="top-link3"></a>
    </div>
</div>
</body>
</html>