<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="commons/login::head"></div>
    <title>爱购登录页面</title>
</head>
<body>
<!--登录/注册的头部-->
<div th:replace="commons/login::header"></div>
<!--登录/注册的中部-->
<div class="lr-main">
    <div class="w1230">
        <div class="reg-div">
            <h3 class="login-title">登录爱购</h3>
            <p class="go-reg">还没有爱购账号？<a th:href="@{~/user/signup}">在此注册</a></p>
            <form action="#" method="post">
                <p><span class="icon-account"></span><input type="text" name="username" placeholder="请输入已注册的账号"/></p>
                <p><span class="icon-pwd"></span><input type="password" name="password" placeholder="请输入密码"/></p>
                <p class="clear-float"><input type="text" name="code" placeholder="验证码" class="code"/>
                    <img th:src="@{~/captcha}" width="110px" height="42px" class="code-img"/></p>
                <p><input type="checkbox" name="autoLogin" value="1" class="chk-login"/><span>7天免登录</span></p>
                <input type="submit" value="登录" class="sum-btn"/>
            </form>
        </div>
    </div>
</div>
<!--登录/注册的底部-->
<div th:replace="commons/normal::footer"></div>
<script>
    $(function () {
        //验证码点击事件，点击更换验证码图片
        $('.code-img').on('click', function () {
            //改变img标签的src属性，末尾加一个随机数，
            //浏览器发现请求没有变化，不会向服务器发送请求，所有如果src属性一直不变，无法实现更换图片
            $('.code-img').attr("src", "/captcha?_=" + Math.random());
        })

        //登录事件
        $('form').on('submit', function () {
            const data = $(this).serialize();//获取整个表单的所有参数
            $.post('/login', data, function (msg) {
                alert(msg);
                if (msg === "登录成功") {
                    //页面跳转，前台首页
                    window.location.href = "/";
                }
            })
            return false;
        })
    })
</script>
</body>
</html>
